#container{

    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: red;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "header header header"
    "section article aside"
    "footer footer aside";

}

header{
    grid-area: header;
    background-color: blue;
}
section{
    grid-area: section;
    background-color: orange;
}
article{
    grid-area: article;
    background-color: aquamarine;
}
aside{
    grid-area: aside;
    background-color: blueviolet;
}
footer{
    grid-area: footer;
    background-color: chartreuse;
}

@media (max-width: 480px){
    #container{

    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: red;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: 
    "header header"
    "section article"
    "aside aside"
    "footer footer";

}
aside{
    grid-area: aside;
    background-color: rgb(226, 43, 43);
}

}